@model TOT.Dto.Identity.UserDTO
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post" asp-controller="Account" asp-action="Register">
    @Html.Partial("FormFields", Model)
</form>