
@model TOT.Dto.TimeOffRequests.TimeOffRequestDTO
@using System;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var types = ((IEnumerable<SelectListItem>)ViewData["AvailableTypes"]);
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="text-center">
                <div class="col-md-offset-4 col-md-3">
                    <h2>Edit request</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="Edit">
                  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="UserId" type="hidden" />

            <div class="form-group">
                <div class="form-group col-md-6">
                    <label for="dtp_start" asp-for="StartsAt" class="control-label"></label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy"
                         data-link-field="dtp_start" data-link-format="yyyy-mm-dd"
                         id="start_datepiker">
                        <input asp-for="StartsAt" class="form-control"
                               type="text" id="start" placeholder="dd MM yyyy" readonly />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input asp-for="StartsAt" type="hidden" id="dtp_start" />
                    <span asp-validation-for="StartsAt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="dtp_end" asp-for="EndsOn" class="control-label"></label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy"
                         data-link-field="dtp_end" data-link-format="yyyy-mm-dd"
                         id="end_datepiker">
                        <input asp-for="EndsOn" class="form-control"
                               type="text" id="end" placeholder="dd MM yyyy" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input asp-for="EndsOn" type="hidden" id="dtp_end" />
                    <span asp-validation-for="EndsOn" class="text-danger"></span>
                </div>
                </div>
                  
            <div class="form-group col-md-12">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="TypeId" asp-items="@types"
                        class="form-control custom-select" id="selectType">
                    <option disabled selected>Select a type</option>
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

                    <div class="form-group col-md-12">
                        <div id="partial">

                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label asp-for="Note" class="control-label"></label>
                        <textarea asp-for="Note" class="form-control" rows="4" cols="50" maxlength="70" style="resize: none"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <span asp-validation-for="ApproversId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="text-center">
            <input type="button" class="btn btn-danger" onclick="location.href='@Url.Action("List", "Request")'" value="Back to List">
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    var today = new Date();
    var inYear = new Date();
    inYear.setFullYear(today.getFullYear() + 1);
    $('.form_date').datetimepicker({
        startDate: today,
        endDate: inYear,
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });    
</script>

<script>

    function fillPartial(result) {
        $('#partial').html(result);
                           }

                           function fillPartialAndSetCurrentApproversInDropdown(result) {
        $('#partial').html(result)
                               var usersId = [];

                               @foreach (var id in Model.ApproversId)
                               {
            @:usersId.push("@id");
        }

        for (var i = 0; i < usersId.length; i++) {
            idUsersDropdown = "#selectUser" + i;
            $(idUsersDropdown).val(usersId[i]);
        }
    }

    $(document).ready(function () {
        var id = $("#selectType").val();

        if (id != null) {
            loadApprovals(id, fillPartialAndSetCurrentApproversInDropdown);
        }
    });

    $("#selectType").change(function () {
        var id = $("#selectType").val();
        loadApprovals(id, fillPartial);
    });

    function loadApprovals(id, successFunction) {
        $('#partial').html("<center>Approvals are loading</center>")

        $.ajax({
            type: 'GET',
            url: '../Request/PartialAsync/' + id,
            data: { typeId: id },
            success: function (result) {
                successFunction(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>
