@model TOT.Dto.TimeOffRequests.TimeOffRequestDTO

@{
    ViewData["Title"] = "EditName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditOnlyName">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" type="hidden" />
            <input asp-for="StartsAt" type="hidden" />
            <input asp-for="EndsOn" type="hidden" />
            <input asp-for="ApproversId" type="hidden" />

            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
<br />