
@model TOT.Dto.TimeOffRequests.TimeOffRequestDTO
@using System;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var types = ((IEnumerable<SelectListItem>)ViewData["AvailableTypes"]);
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="UserId" type="hidden" />

            <div class="form-group">
                <div class="form-group col-md-6">
                    <label asp-for="StartsAt" class="control-label"></label>
                    <input asp-for="StartsAt" class="form-control"
                           type="date" id="start"
                           min=@string.Format("{0:yyyy-MM-dd}", DateTime.Now)
                           max=@string.Format("{0:yyyy-MM-dd}", DateTime.Now.Add(new TimeSpan( 365, 0, 0,0))) />
                    <span asp-validation-for="StartsAt" class="text-danger"></span>

                </div>

                <div class="form-group col-md-6">
                    <label asp-for="EndsOn" class="control-label"></label>
                    <input asp-for="EndsOn" class="form-control"
                           type="date" id="end"
                           min=@string.Format("{0:yyyy-MM-dd}", DateTime.Now)
                           max=@string.Format("{0:yyyy-MM-dd}", DateTime.Now.Add(new TimeSpan( 365, 0, 0,0))) />
                    <span asp-validation-for="EndsOn" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="TypeId" asp-items="@types"
                        class="form-control custom-select" id="selectType">
                    <option disabled selected>Select a type</option>
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div id="partial">

                </div>
                <span asp-validation-for="ApproversId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
<br />

<script src="~/scripts/jquery-3.3.1.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    function fillPartial(result) {
        $('#partial').html(result);
    }

    function fillPartialAndSetCurrentApproversInDropdown(result) {
        $('#partial').html(result)
        var usersId = [];

        @foreach (var id in Model.ApproversId)
        {
            @:usersId.push("@id");
        }

        for (var i = 0; i < usersId.length; i++) {
            idUsersDropdown = "#selectUser" + i;
            $(idUsersDropdown).val(usersId[i]);
        }
    }

    $(document).ready(function () {
        var id = $("#selectType").val();

        if (id != null) {
            loadApprovals(id, fillPartialAndSetCurrentApproversInDropdown);
        }
    });

    $("#selectType").change(function () {
        var id = $("#selectType").val();
        loadApprovals(id, fillPartial);
    });

    function loadApprovals(id, successFunction) {
        $('#partial').html("<center>Approvals are loading</center>")

        $.ajax({
            type: 'GET',
            url: '../Request/PartialAsync/' + id,
            data: { typeId: id },
            success: function (result) {
                successFunction(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>
